{% extends 'template.twig' %}
{% block title %}Mes Articles{% endblock %}
{% block content %}


    <section id="blog">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-3 text-center">
                <h2>
                    <span class="ion-minus"></span>- Derniers billets du blog -<span class="ion-minus"></span>
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p><br>
            </div>
        </div>

        <div class="container py-3">
            <div class="row">
                {% for listpost in listposts %}
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 py-2">
                        <div class="card text-center">
                            <img class="card-img-top"
                                 src="/public/"
                                 alt="" width="100%">
                            <div class="card-block">
                                <h5 class="card-title">{{ listpost.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ listpost.chapo }}</h6>
                                <p class="card-text text-truncate">{{ listpost.description }}</p>
                                <p class="card-text"><small class="text-muted">Mis à jour le
                                        {% if listpost.dateUpdate is not null %}
                                            <td>{{ listpost.dateUpdate }}</td>
                                        {% else %}
                                            <td>{{ listpost.dateCreation }}</td>
                                        {% endif %}</small></p>
                                <a class="btn btn-primary" href="post/{{ listpost.postId }}">Plus...</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}