{% extends 'template.twig' %}
{% block title %}Mon article {{ post.title }}{% endblock %}
{% block content %}

    {% set size = listcomments | length %}

    <p><a href="/posts">Retour à la liste des billets</a></p>
    <div class="container py-3">
        <div class="news">
            <h3>
                {{ post.title }}
                <em>le
                    {% if post.dateUpdate %}
                        {{ post.dateUpdate }}
                    {% else %}
                        {{ post.dateCreation }}
                    {% endif %}
                </em> par {{ post.username }}
            </h3>
            <h5>{{ post.chapo }}</h5>
            <p>
                {{ post.description|nl2br }}
            </p>
        </div>

        <div class="container py-3">
            <div class="row">
                <div class="panel panel-default widget">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>
                        <h3 class="panel-title">
                        </h3>
                        <span class="label label-info">
                    </span>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item py-3">
                                <h3 class="panel-title">
                                    <h3 class="panel-title">
                                        Commentaires Récents</h3>
                            </li>
                            {% if listcomments %}
                                {% for comment in listcomments %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-10 col-md-11">
                                                <div>
                                                    <div class="mic-info">
                                                        De : {{ comment.username }}
                                                        le {{ comment.commentDate }}
                                                    </div>
                                                </div>
                                                <div class="comment-text py-2">
                                                    {{ comment.comment }}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-dark" role="alert">
                                    Pas encore de commentaires pour cet article!
                                </div>
                            {% endif %}

                            <li class="list-group-item py-3">
                                <h3 class="panel-title">
                                    Ajouter un commentaire</h3>
                            </li>
                            {% if not session._sf2_attributes.auth %}
                                <li class="list-group-item">
                                    <div class="alert alert-danger py-3" role="alert">
                                        Vous devez être connecté pour ajouter un commentaire
                                    </div>
                                </li>
                            {% endif %}
                            {% if session._sf2_attributes.auth %}
                                <li class="list-group-item">
                                    <form action="/comment/add" method="post">
                                        <div class="form-group">
                                            <input type="hidden" value="{{ post.postId }}" id="postid" name="postid"/>
                                            <input type="hidden" value="{{ session._sf2_attributes.token }}" id="formtoken" name="formtoken"/>
                                            <input type="text" id="authorname" name="authorname"
                                                   value="{{ session._sf2_attributes.auth.username }}"
                                                   class="form-control" readonly/>
                                            <input type="hidden" id="authorid" name="authorid"
                                                   value="{{ session._sf2_attributes.auth.userId }}"
                                                   class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Votre commentaire</label><br/>
                                            <textarea id="description" name="description" rows="7"
                                                      class="form-control" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Ajouter" class="btn btn-primary">
                                        </div>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}






