{% extends 'template.twig' %}
{% block title %}Mon article {{ post.title }}{% endblock %}
{% block content %}
    {% set size = listcomments | length %}
    {{ dump(size) }}

    <p><a href="/posts">Retour à la liste des billets</a></p>
    <div class="container py-3">
        <div class="news">
            <h3>
                {{ post.title }}
                <em>le {{ post.date_creation|date("d/m/Y") }}</em>
            </h3>
            <p>
                {{ post.description }}
            </p>
        </div>

        <div class="container py-3">
            <div class="row">
                <div class="panel panel-default widget">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>
                        <h3 class="panel-title">
                        </h3>
                        <span class="label label-info">
                    </span>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item py-3">
                                <h3 class="panel-title">
                                    <h3 class="panel-title">
                                        Commentaires Récents</h3>
                            </li>
                            {% if size > 1 %}
                                {% for comment in listcomments %}
                                    {{ dump(comment) }}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-10 col-md-11">
                                                <div>
                                                    <div class="mic-info">
                                                        De : {{ comment.username }}
                                                        le {{ comment.date_creation|date("d/m/Y") }}
                                                    </div>
                                                </div>
                                                <div class="comment-text py-2">
                                                    {{ comment.comment }}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% elseif size == 1 %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-10 col-md-11">
                                            <div>
                                                <div class="mic-info">
                                                    De : {{ listcomments.username }}
                                                    le {{ listcomments.date_creation|date("d/m/Y") }}
                                                </div>
                                            </div>
                                            <div class="comment-text py-2">
                                                {{ listcomments.comment }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <div class="alert alert-dark" role="alert">
                                    Pas encore de commentaires pour cet article!
                                </div>
                            {% endif %}

                            <li class="list-group-item py-3">
                                <h3 class="panel-title">
                                    Ajouter un commentaire</h3>
                            </li>
                            {% if not session.auth %}
                                <li class="list-group-item">
                                    <div class="alert alert-danger py-3" role="alert">
                                        Vous devez être connecté pour ajouter un commentaire
                                    </div>
                                </li>
                            {% endif %}
                            {% if session.auth %}
                                <li class="list-group-item">
                                    <form action="/comment/add" method="post">
                                        <div class="form-group">
                                            <input type="hidden" value="{{ post.id }}" id="postid" name="postid"/>
                                            <input type="text" id="authorname" name="authorname"
                                                   value="{{ session.auth.username }}" class="form-control" disabled/>
                                            <input type="text" id="author" name="author"
                                                   value="{{ session.auth.id }}" class="form-control" hidden/>
                                        </div>
                                        <div class="form-group">
                                            <label for="comment">Votre commentaire</label><br/>
                                            <textarea id="description" name="description" rows="7"
                                                      class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Ajouter" class="btn btn-primary">
                                        </div>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}






