{% extends 'template.twig' %}
{% block title %}Mon article {{ post.title }}{% endblock %}
{% block content %}



    <p><a href="/posts">Retour à la liste des billets</a></p>
    <div class="container py-3">
        <div class="news">
            <h3>
                {{ post.title }}
                <em>le {{ post.date_creation|date("d/m/Y") }}</em>
            </h3>
            <p>
                {{ post.description }}
            </p>
        </div>

        <div class="container py-3">
            <div class="row">
                <div class="panel panel-default widget">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>
                        <h3 class="panel-title">
                            Commentaires Récents</h3>
                        <span class="label label-info">
                    </span>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for comment in listcomments %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-10 col-md-11">
                                            <div>
                                                <div class="mic-info">
                                                    De : {{ comment.author }}
                                                    le {{ comment.date_creation|date("d/m/Y") }}
                                                </div>
                                            </div>
                                            <div class="comment-text py-2">
                                                {{ comment.comment }}
                                            </div>
                                            <div class="action">
                                                <button type="button" class="btn btn-primary" title="Edit">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button type="button" class="btn btn-success" title="Approved">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger" title="Delete">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}






