{% extends 'template.twig' %}
{% block title %}Ajouter un article{% endblock %}
{% block content %}


    <div class="row justify-content-center">
        <h1>Administration</h1>
    </div>
    <div class="row">
        <p>Derniers billets du blog :</p>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <th class="idcommentaire">ID</th>
            <th>Titre</th>
            <th class="datecommentaire">Date</th>
            <th>Editer</th>
            <th>Voir les commentaires</th>
            <th>Supprimer</th>
            </thead>
            <tbody>
            {% for listpost in listposts %}

                <tr>
                    <td class="idcommentaire">{{ listpost.postId }}</td>
                    <td>{{ listpost.title }}</td>
                    {% if listpost.date_update %}
                        <td  class="datecommentaire">{{ listpost.dateUpdate }}</td>
                    {% else %}
                        <td  class="datecommentaire">{{ listpost.dateCreation }}</td>
                    {% endif %}
                    <td>
                        <a href="/admin/post/{{ listpost.postId }}" style="color:white" class="btn btn-primary">Editer</a>
                    </td>
                    <td>
                        <a href="/admin/comments/{{ listpost.postId }}" style="color:white" class="btn btn-primary">Commentaires</a>
                    </td>
                    <td>
                        <a href="./admin/post/delete/{{ listpost.postId }}" style="color:white" class="btn btn-danger"
                           onclick="return confirm('Voulez vous vraiment supprimer ?)">Supprimer</a>

                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <div class="row py-3">
            <a href="/admin/add" style="color:white" class="btn btn-primary">Ajouter un Article</a>
        </div>
    </div>


{% endblock %}
