{% extends 'template.twig' %}
{% block title %}Ajouter un article{% endblock %}
{% block content %}


    <div class="row justify-content-center">
        <h1>Administration</h1>
    </div>
    <div class="row">
        <p>Derniers billets du blog :</p>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <th class="idcommentaire">ID</th>
            <th>Titre</th>
            <th class="datecommentaire">Date MAJ</th>
            <th>Editer</th>
            <th>Voir les commentaires</th>
            <th>Supprimer</th>
            </thead>
            <tbody>
            {% for listpost in listposts %}

                <tr>
                    <td class="idcommentaire">{{ listpost.postId }}</td>
                    <td>{{ listpost.title }}</td>
                    {% if listpost.dateUpdate %}
                        <td class="datecommentaire">{{ listpost.dateUpdate }}</td>
                    {% else %}
                        <td class="datecommentaire">{{ listpost.dateCreation }}</td>
                    {% endif %}
                    <td>
                        <a href="/admin/post/{{ listpost.postId }}" style="color:white"
                           class="btn btn-primary">Editer</a>
                    </td>
                    <td>
                        <a href="/admin/comments/{{ listpost.postId }}" style="color:white" class="btn btn-primary">Commentaires</a>
                    </td>
                    <td>
                        <a href="" data-id="{{ listpost.postId }}" style="color:white"
                           class="btn btn-danger">Supprimer</a>
                        <form id="delete_form" method="POST" action="">
                            <input type="hidden" value="{{ session._sf2_attributes.token }}" id="formtoken"
                                   name="formtoken"/>
                            <input type="hidden" name="submit_form">
                        </form>

                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <div class="row py-3">
            <a href="/admin/add" style="color:white" class="btn btn-primary">Ajouter un Article</a>
        </div>
    </div>

    <script type="text/javascript">
        $('a.submit-form').on('click', function (event) {
            event.preventDefault();
            // un des trois suivants (celui qui fonctionne ^^)
            var id = $(this).attr("data-id");
            alert(id);
            //var id = $(this).attr('data-id').val();
            //var id = $(this).attr('data-id').value;
            // tu définis la route du formulaire
            form = $('form#delete_form');
            //document.form.action = "URL"; // ICI, définir l'url grâce à "var id"
            // en gros ca devrait donner :
            document.form.action = "/admin/post/delete/" + id;
            form.submit();
        });
    </script>

{% endblock %}
