{% extends 'template.twig' %}
{% block title %}Commentaires{% endblock %}
{% block content %}
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>

    <p><a href="/admin">Retour à la liste des articles</a></p>
    {% set size = listcomments | length %}

    <div class="row justify-content-center">
        <h1>Administration</h1>
    </div>
    <div class="row">
        <p>Liste des Commentaires </p>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <th>Auteur</th>
            <th>Date</th>
            <th>Commentaire</th>
            <th>Status</th>
            <th>Supprimer</th>
            </thead>
            <tbody>
            {% if size > 1 %}
                {% for comment in listcomments %}
                    <tr>
                        <td>{{ comment.username }}</td>
                        <td>{{ comment.comment_date }}</td>
                        <td>{{ comment.comment }}</td>
                        {% if comment.is_valid is null %}
                            <td>
                                <button type="button" class="btn btn-success">Valider</button>
                            </td>
                        {% else %}
                            <td>
                                <button type="button" class="btn btn-dark">OK</button>
                            </td>
                        {% endif %}
                        <td><a href="/admin/comment/delete/{{ comment.id }}" style="color:white" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            {% elseif size == 1 %}
                <tr>
                    <td>{{ listcomments.id }}</td>
                    <td>{{ listcomments.comment_date }}</td>
                    <td>{{ listcomments.comment }}</td>
                    {% if listcomments.is_valid is null %}
                        <td>
                            <button type="button" class="btn btn-success">Valider</button>
                        </td>
                    {% else %}
                        <td>
                            <button type="button" class="btn btn-dark">OK</button>
                        </td>
                    {% endif %}
                    <td><a href="/admin/comment/delete/{{ comment.id }}" style="color:white" class="btn btn-danger"
                           onclick="return confirm('Voulez vous vraiment supprimer ?)">Supprimer</a></td>
                </tr>
            {% else %}
                <div class="alert alert-dark" role="alert">
                    Pas encore de commentaires pour cet article!
                </div>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

